cmd/rikka/emoji/*
*.png

\.DS_Store

\.idea/

Discord/

cmd/rikka/dca

cmd/rikka/dca-rs

cmd/rikka/screenshot\.log

cmd/rikka/rikka2

cmd/rikka/rikka

cmd/rikka/config\.json
cmd/rikka/dca-rs.exe
cmd/rikka/ffmpeg.exe
cmd/rikka/rikka.exe
cmd/rikka/youtube-dl.exe
